$bg-color: #0e0e0e;
$fg-color: #bebebe;
$accent-color: $primary-color;

// ----------------------------------------------------------------------------
// Flex-grid stuff
// ----------------------------------------------------------------------------
html,
body {
  height: 100%;
  margin: 0
}

@media screen and #{breakpoint(medium)} {
  #flex-container {
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  #main-content-container {
    display: flex;
    align-items: stretch;
  }

  #footer {
    background: $bg-color !important;
  }

  .flex-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
  }

  .flex-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    //border: 2px solid blue
  }

  .flex-item:nth-child(2) {
    order: 1;
    flex: 2 1 auto;
    align-items: stretch;
    //border: 2px solid red
  }

  .flex-item:nth-child(3) {
    order: 2;
    flex: 0 1 40px;
    align-self: auto;
    //border: 2px solid green
  }

  #map {
    display: inline-block;
    height: 100%;
    flex: 1 1 auto;
    align-items: stretch;
  }
}


@media screen and (max-width: 39.9375em) {

  #map {
    border: blue solid 2px;
    display: inline-block;
    height: 100vh !important;
    align-items: stretch;
  }
}

.expanded.row {
  margin: 0 0 0 0;
}

// ----------------------------------------------------------------------------
// Top Bar
// ----------------------------------------------------------------------------

.top-bar {
  background: $bg-color !important;
}

.top-bar .menu-icon {
  background: $bg-color !important;
}

.title {
  color: $fg-color;
  font-size: 1.75rem;
  font-family: $header-font-family;
}

// ----------------------------------------------------------------------------
// Selection Pane
// ----------------------------------------------------------------------------

#options-pane {
  background: $bg-color !important;
  color: $fg-color;
}

input[type="radio"] {
  vertical-align: middle;
}

input[type="radio"] {
  vertical-align: baseline;
}

.area-label {
  margin-left: .5rem;
}

.btn-group {
  label {
    color: $fg-color;
    font-size: 110%;
  }
}

#area-select {
  margin-left: 2rem;
}

// Step-by-step headings
// ---------------------
$num-circle-radius: 0.8em;
.step {
  font-family: $header-font-family;
  position: relative;
  display: inline-block;
}

.step-text {
  padding-left: 1.2em;
}

.step-number {
  background: $accent-color;
  border-radius: $num-circle-radius;
  -moz-border-radius: $num-circle-radius;
  -webkit-border-radius: $num-circle-radius;
  color: $black;
  display: inline-block;
  font-weight: bold;

  line-height: 1.3em;
  width: 1.3em;

  text-align: center;
  font-size: 1.2rem;
  position: absolute;
  top: .5em;
}

// Checkboxes
// ----------

.glyphicon-unchecked, .glyphicon-check {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  border-radius: 3px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 3px;
}

.glyphicon-check:after {
  content: '\2713';
  position: absolute;
  color: #0090D7;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  left: 0;
  right: 0;
}

// ----------------------------------------------------------------------------
// Field Selection
// ----------------------------------------------------------------------------

.list-group {
  font: 300 15px/22px Lato;
}

.list-group > li {
  margin-bottom: 10px;
}

.icon-right {
  font-size: 17px;
  color: #7AB06B;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(../etc/images/icon-info.svg) no-repeat center center;
  opacity: .3;
  vertical-align: middle;
  margin-top: -3px;
  background-size: 13px;
}

.resource-help {
  margin-top: -12px;
  margin-left: 3px;
  color: #5274b0;
}

.icon-right:hover {
  opacity: .8;
}

.resource-list-container {
  height: 200px;
  overflow-y: scroll;
}

.fieldList {
  list-style: none;
}


#infoWindow {
  position: absolute;
  padding: 12px;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-family: $body-font-family;
  background: rgba(0, 0, 0, .8);
  border-radius: 4px;
  z-index: 2000;
  width: 200px;
  display: none;
}

#infoWindow:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-right: 6px solid rgba(0, 0, 0, .8);
  left: -12px;
  top: 12px;
}

.top-button {
  a {
    font-weight: 700;
    background: $bg-color;
  }
}

#footer {
  p {
    color: $fg-color;
    text-align: center;
    margin-bottom: 0;
    margin-top: .5rem;
  }
}

.select-all {
  a {
    margin-bottom: 0;
  }
}

#fields-notes li {
  display: inline;
  &:after {
    content: ", "
  }
  &:last-child:after {
    content: "";
  }
}

.resource-notes {
  font-size: .8rem;
  font-style: italic;
  color: $fg-color;
}


// ----------------------------------------------------------------------------
// Utils
// ----------------------------------------------------------------------------

.hidden {
  display: none;
}

.wrap-list {
  li {
    list-style-position: outside;
    margin: 0 0 .5em 1em;

  }
}
